<!doctype html>
<html>
<head>
    <!-- <link rel="stylesheet" href="../static/buffybot.css"> -->
    <title>bugglio</title>
</head>
<body>

<h1>bugglio - snagging bugs</h1>
<p>this app accepts notificaitons from Bugsnag's webhook, and sends SMS messages using Twilio.
  <br>She may not look like much (here), but she  got some <a href="https://github.com/tremlab/bugglio">nifty code</a>, kid.</p>
<h3>Everything's perfectly all right now.
  <br>We're fine.
  <br>We're all fine here, now, thank you.
  <br>How are you?</h3>

<img src="../static/images/fine.jpg">


  </body>
  </html>
